@charset "UTF-8";

/*CELULAR*/

/* Fontes */

@font-face {
    font-family: 'Titulo';
    src: url('../fontes/Super\ Senior\ Personal\ Use.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*Variaveis*/

:root {
    --fonte-titulo: 'Titulo' , sans-serif;
    --font-texto: "Shantell Sans", cursive;
}

/* Global */

* {
    /*caixa*/
    box-sizing: border-box;

    /*texto*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /*margem e preenchimento*/
    margin: 0px;
    padding: 0px;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 e IE 11 */
    user-select: none; /* default */
}

/* Geral */

body , html {
    /*fundo*/
    background-image: url('../imagens/fazenda-abobora.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /*sombra*/
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.459);
    /*tamanho*/
    width: 100vw;
    height: 100vh;
}

h1 , p {
    /*texto*/
    color: rgb(54, 54, 54);
}

/* Conteúdo Principal */

main {
    /*caixa*/
    position: relative;
     /*tamanho*/
     width: 100vw;
     height: 100vh;
}

section#tela {
    /*caixa*/
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    /*fundo*/
    background-color: rgba(255, 214, 138, 0.808);
    /*borda*/
    border-radius: 5px;
    /*tamanho*/
    width: 90vw;
    height: 95vh;
    /*trasformação*/
    transform: translate(-50% , -50%);
}


/* Div's */

/*Cabeçalho*/

div#cab {
    /*fundo*/
    background-color: rgb(253, 234, 198);
    /*borda*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

div#cab > h1 {
    /*texto*/
    text-align: center;
    /*fonte*/
    font-size: 3em;
    font-family: Titulo;
    font-weight: normal;
    /*margem e preenchimento*/
    padding-top: 20px;
}

div#cab > p {
    /*texto*/
    text-align: center;
    /*fonte*/
    font-size: 0.9em;
    font-weight: bold;
    /*margem e preenchimento*/
    padding-bottom: 10px;
}

/* Menu */

menu#mn {
    /*caixa*/
    position: relative;
}

menu#mn span#hm, span#hmS {
    /*caixa*/
    display: inline-block;
    /*fundo*/
    background-color: #aa9266;
    /*texto*/
    text-align: center;
    /*fonte*/
    font-size: 2em;
    /*tamanho*/
    width: calc(100%/3);
}

span#hmS {
    background-color: #796849;
}

menu#mn span#hm:hover {
    /*fundo*/
    background-color: black;
    /*cor*/
    color: white;
    /*cursor*/
    cursor: pointer;
}

menu#mn span#carr, span#carrS {
    /*caixa*/
    display: inline-block;
    position: absolute;
    top: calc(100%/3);
    left: calc(100%/3);
    /*fundo*/
    background-color: #aa9266;
    /*texto*/
    text-align: center;
    /*fonte*/
    font-size: 2em;
    /*tamanho*/
    width: calc(100%/3);
    /*transform*/
    transform: translateY(-12px);
}

span#carrS {
    background-color: #796849;
}

menu#mn span#carr:hover {
    /*fundo*/
    background-color: black;
    /*cor*/
    color: white;
    /*cursor*/
    cursor: pointer;
}

menu#mn span#up, span#upS {
    /*caixa*/
    display: inline-block;
    position: absolute;
    top: calc(100%/3);
    left: calc(100%/3*2);
    /*fundo*/
    background-color: #aa9266;
    /*texto*/
    text-align: center;
    /*fonte*/
    font-size: 2em;
    /*tamanho*/
    width: calc(100%/3);
    /*transform*/
    transform: translateY(-12px);
}

span#upS {
    background-color: #796849;
}

menu#mn span#up:hover {
    /*fundo*/
    background-color: black;
    /*cor*/
    color: white;
    /*cursor*/
    cursor: pointer;
}

/* Moedas */

div > p {
    /*fonte*/
    font-weight: bold;
}



/* Moedas 1 */

div.icone-moeda1 {
    /*fundo*/
    background-image: url('../favicon/icone-abobora.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    /*tamanho*/
    width: calc(100% - 120px);
    height: 70px;
    /*transform*/
    transform: translateY(65px);
}

div.moedas1 {
    /*caixa*/
    display: block;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.250);
    /*fundo*/
    background-color: rgb(255, 248, 236);
    /*tamanho*/
    width: 120px;
    height: 40px;
    /*margem e preenchimento*/
    margin-top: 20px;
    padding-top: 8px;
    /*texto*/
    text-align: center;
    font-weight: bold;
    /*borda*/
    border-radius: 8px;
}

/* Moedas 2 */

div.icone-moeda2{
    /*fundo*/
    background-image: url('../imagens/icone-abobora-aps.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    /*tamanho*/
    width: calc(100% - 100px);
    height: 60px;
    /*transform*/
    transform: translateY(65px);
}



div.moedas2 {
    /*caixa*/
    display: block;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.250);
    /*fundo*/
    background-color: rgb(255, 248, 236);
    /*tamanho*/
    width: 100px;
    height: 40px;
    /*margem e preenchimento*/
    margin-top: 20px;
    padding-top: 8px;
    /*texto*/
    text-align: center;
    font-weight: bold;
    /*borda*/
    border-radius: 8px;
}


/* Imagem Principal */

div#imagem {
    /*caixa*/
    margin: auto;
    /*fundo*/
    background-image: url('../imagens/abobora-principal.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    /*tamanho*/
    width: 256px;
    height: 256px;
    /*margem e preencimento*/
    margin-top: 80px;
    transition: transform 0.1s ease-out;
}

div#imagem:hover {
    /*cursor do mouse*/
    transform: scale(1.1);
    cursor: pointer;
    /*animação*/
}

div#imagem:active {
    transform: scale(1.1) rotate(5deg);
}

/* Local */

div#local {
    /*fundo*/
    background-image: url('../imagens/icone-abobora.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    /*tamanho*/
    width: 90px;
    height: 90px;
    /*margem e preenchimento*/
    margin-top: 40px;
    /*transform*/
    transform: translate(20px , -15px);
}

div > p.localize {
    /*fonte*/
    font-family: Titulo;
    font-weight: normal;
    /*margem e preenchimento*/
    margin-left: 32.5px;
    /*transform*/
    transform: translateY(-11px);
}


/* SHOP */

section#tela-shop {
    /*caixa*/
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    /*fundo*/
    background-color: rgba(255, 214, 138, 0.808);
    /*borda*/
    border-radius: 5px;
    /*tamanho*/
    width: 90vw;
    height: 95vh;
    /*trasformacao*/
    transform: translate(-50% , -50%);
}

/*Cabecalho*/

div#cab2 {
    /*fundo*/
    background-color: rgb(253, 234, 198);
    /*borda*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div#cab2 > h1 {
    /*texto*/
    text-align: center;
    /*fonte*/
    font-size: 3em;
    font-family: Titulo;
    font-weight: normal;
    /*margem e preenchimento*/
    padding-top: 20px;
}

div#cab2 > p {
    /*texto*/
    text-align: center;
    /*fonte*/
    font-size: 0.9em;
    font-weight: bold;
    /*margem e preenchimento*/
    padding-bottom: 10px;
}

/* Compras */

/* Sementes */


div.compras {
    
    /*caixa*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    /*fundo*/
    background-image: linear-gradient(to right , rgb(253, 234, 198) , rgb(252, 226, 179));
    /*tamanho*/
    width: 100%;
    height: 70px;
    /*borda*/
    border-radius: 5px;
    /*sombra*/
    box-shadow:  0px 0px 3px rgba(0, 0, 0, 0.452);
    /*margem e preenchimento*/
    margin-top: 10px;
} 



div.compras > div.p-filho > p {
    /*fonte*/
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1.2em;
    /*margem e preenchimento */
    margin-bottom: 5px;
    margin-top: 2px;
}

div.compras p#dps {
    /*fonte*/
    font-size: 0.7em;
    /*margem e preenchimento*/
    padding-left: 15px;
}


/* Botão de compra */

div.icone-compra-filho   {
    /*fundo*/
    background-image: url('../favicon/icone-abobora.webp');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    /*tamanho*/
    width: 50px;
    height: 50px;
    /*trasform*/
    transform: translate(80px , -5px);
    
}

div.p-filho {
    /*fundo*/
    background-image: linear-gradient(rgb(253, 234, 198, .5) , rgb(252, 226, 179, .5)), url('../imagens/sementes-marrom.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /*tamanho*/
    height: 100%;
    /*margem e preenchimento*/
    margin-left: 20px;
}

div.p-filho p {
    /*cor*/
    color: black;
}

div.p-filho p#dps {
    /*margem e preenchimento*/
    margin-left: 15px;
}

div.botao-compra-filho {
    /*fundo*/
    background-color: white;
    /*tamanho*/
    width: 120px;
    /*borda*/
    border-radius: 8px;
    /*sombra*/
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.438);
}

div.botao-compra-filho p {
    /*texto*/
    text-align: center;
    /*font*/
    font-size: 1.2em;
    /*margem e preenchimento*/
    padding-bottom: 5px;
    margin-left: 70px;

}

div.botao-compra-filho:hover {
    /*fundo*/
    background-color: rgb(255, 225, 53);
    /*cor*/
    color: white;
    /*cursor*/
    cursor: pointer;
    /*borda*/
    border: 1px solid white; 
}

div.botao-compra-filho > p:hover {
    /*cor*/
    color: white;
    /*font*/
    font-size: 1.7em;
}



/* UPGRADES */

section#tela-up {
    /*caixa*/
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    /*fundo*/
    background-color: rgba(255, 214, 138, 0.808);
    /*borda*/
    border-radius: 5px;
    /*tamanho*/
    width: 90vw;
    height: 95vh;
    /*trasformacao*/
    transform: translate(-50% , -50%);
}

/*Cabecalho*/

div#cab3 {
    /*fundo*/
    background-color: rgb(253, 234, 198);
    /*borda*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div#cab3 > h1 {
    /*texto*/
    text-align: center;
    /*fonte*/
    font-size: 3em;
    font-family: Titulo;
    font-weight: normal;
    /*margem e preenchimento*/
    padding-top: 20px;
}

div#cab3 > p {
    /*texto*/
    text-align: center;
    /*fonte*/
    font-size: 0.9em;
    font-weight: bold;
    /*margem e preenchimento*/
    padding-bottom: 10px;
}